{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error</h1>

    <p>An error has been encountered.</p>
    <p>Please return to the <a href="{{ path('app_short') }}">homepage</a>.</p>

{% endblock %}
